<template>
<div>
<div class="card">
    <div class="card-header brand-primary">
        <h4>{{ requirement.part_number }} / {{ requirement.description }} </h4></div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <label>Operator</label>
                <p><strong>American Airlines</strong></p>
            </div>
            <div class="col-sm-4">
                <label>Part Number</label>
                <p><strong>{{ requirement.part_number }}</strong></p>
            </div>

            <div class="col-sm-4">
                <label>Description</label>
                <p><strong>{{ requirement.description }}</strong></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <label>Requirement Details</label>
                <p>{{ requirement.details }}</p>
            </div>
        </div>
    </div>
</div>
</div>
</template>
<script>
export default {
  props: {
    requirement: {
      type: Object,
      required: false
    },
  },
    mounted() {
    
},

};
</script>