<template>
<div class="card">
    
        <div class="card-header">
                Status:<strong> {{ quote.status }}</strong>
        </div>
    
    <div class="card-body">
        
        <ul class="list-unstyled">
            <li>Submitted on: <strong> {{ quote.submitted_at }}</strong></li>
        </ul> 
       <small><a @click="cancelQuote()" href="#">Cancel this quote</a></small>
       
    </div>
</div>
</template>
<script>
export default {
  props: {
    quote: {
      type: Object,
      required: false
    },
  },
    mounted() {
    
},

    methods: {
        cancelQuote: function(){

        }
    }

};
</script>