<template>
<div>
            <div class="card-header">
                <strong><i v-if="quoteSync" class="fas fa-lg fa-spinner fa-spin"></i> Quote Option</strong>
            </div>
            <div class="card-body">
        
                    <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Part Number</label>
                            <input class="form-control" v-model="quote.part_number">
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Description</label>
                            <input class="form-control" v-model="quote.description">
                        </div>
                    </div>
                    <div class="col-sm-2">
                            <div class="form-group">
                                <label>Condition</label>
                                <select class="form-control" v-model="quote.condition">
                                    <option value="AR">OH</option>
                                    <option value="SV">SV</option>
                                    <option value="OH">OH</option>
                                    <option value="NE">NE</option>
                                </select>
                            </div>
                    </div>
                    <div class="col-sm-2">
                            <div class="form-group">
                                <label>Lead Time</label>
                                <input class="form-control" v-model="quote.lead_time">
                            </div>
                    </div>
                    <div class="col-sm-2">
                            <div class="form-group">
                                <label>Price</label>
                                <input class="form-control" v-model="quote.price">
                            </div>
                    </div>
                </div>
                <div class="row">
        
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Quote Details</label>
                            <textarea cols="2" v-model="quote.details" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-sm-12">
                        <div class="btn-group float-right">
                            <button @click="removeSingleQuote(quote)" class="btn  btn-secondary">Remove</button>
                           
                            <button @click="saveSingleQuote();" class="btn btn-secondary float-right">
                            <span v-if="!saveSpin">Save</span>
                            <i v-if="saveSpin" class="fas fa-lg fa-spinner fa-spin"></i>
                            </button>
                        </div>
                            
                    </div>
                </div>
        
        
        
                
            </div>
        
        </div>

</template>

<script>
    export default {
    props: {
        quote: {
            type: Object,
            required: false
        },

        requirement: {
            type: Object,
            required: false
        },

        parentQuote: {
            type: Object,
            required: false
        },

        quoteSync:false,
        quoteEdit: false,
        saveSpin: false,
        updateSpin: false
    },
        mounted() {
            
        },

    methods:{

            removeSingleQuote: function(quote)
            {
                vm = this;
                if(quote.id)
                {
                swal("Remove Quote?")

                    .then((value) => {
                            vm = this;
                            vm.quoteSync = true;
                                axios.delete('/json/quoteoption/' + quote.id, 
                                { headers: 
                                { 'X-CSRF-TOKEN': token, }
                            }).then( function( response ){
                                vm.$emit('quote-option-removed', quote);
                                vm.quoteSync = false;
                                toastr.warning('Quote Deleted')
                        }).catch(error => {
                            if ( error ) {
                                console.log(error);
                                toastr.warning(error);
                                vm.quoteSync = false;
                            } 
                            });


                    });
                } else {
                    vm.$emit('quote-option-removed', quote);
                }
         
            },

            saveSingleQuote: function(showToast = true)
            {
                if(showToast)
                {
                    toastr.clear();
                    toastr.info('Saving...');
                }
                
                if(this.quote.id)
                {
                    this.updateSingleQuote(this.quote);
                }

                if(!this.quote.id)
                {
                    this.createSingleQuote(this.quote);
                }
            },

            createSingleQuote: function(quote)
            {   

                vm = this;
                        axios.post('/json/quoteoption/' + vm.requirement.id + '/store', quote, 
                                { headers: 
                                { 'X-CSRF-TOKEN': token, }
                            }).then( function( response ){
                                vm.quoteSync = false;
                                vm.quote = response.data;
                                vm.saveSpin = false;
                                toastr.clear();
                                toastr.success('Quote Created');
                        }).catch(error => {
                            if ( error ) {
                                toastr.warning(error);
                                vm.quoteSync = false;
                                vm.saveSpin = false;
                            } 
                            }); 
            },

            updateSingleQuote: function(quote)
            {

                vm = this;
                        axios.post('/json/quoteoption/' + quote.id + '/update', quote, 
                                { headers: 
                                { 'X-CSRF-TOKEN': token, }
                            }).then( function( response ){
                                console.log(response);
                                vm.quoteSync = false;
                                vm.quote = response.data;
                                vm.$emit('quote-updated', quote);
                                vm.saveSpin = false;
                                toastr.clear();
                                toastr.success('Quote Updated')
                        }).catch(error => {
                            if ( error ) {
                                toastr.warning(error);
                                vm.saveSpin = false;
                                vm.quoteSync = false;
                            } 
                            });                
            },            


        }
    }
</script>